.App {
  text-align: center;
}

.App{
  font-family: 'Poppins';
}
.text-brand{
  color: #084035;
}
.btn-brand{
  background-image: linear-gradient(75deg, #084035,#0b463a);
  border-color: transparent;
  text-transform: uppercase;
  
  
}